*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(45deg,rgba(10, 87, 138, 0.411),rgb(55, 52, 56));
}

.head{
    display: flex;
    justify-content: center;
}

#title_add{
    background-color: lightgray;
    padding: 1rem;
    width: 300px;
    border-radius: 1rem;
    
}

.title_text{
    height: 1.5rem;
}

header{
    text-align: center;
    margin-top: 5rem;
    
}

header h2 {
    margin-bottom: 2px;
    color: rgb(0, 255, 213);

}
header h4 {
    margin-bottom: 2rem;
    padding-left: 10rem;
    color: #e0ad5f;
}

#new-task-add{
    background-color: lightgray;
    padding: 1rem;
    width: 600px;
    border-radius: 1rem;
}

#new-task-submit{
    margin-left: 1rem;
    background: linear-gradient(135deg, #7eaece, #b65bda);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    font-size: 20px;
    transition: 0.4s;
    font-weight: bold;
}

#new-task-submit:hover{
    opacity: 0.8;
}

#new-task-submit:active{
    opacity: 0.6;
}

.main_content{
    display: flex;
}

input,button {
    border: none;
    appearance: none;
    outline: none;
    background: none;
}

main{
    flex: 1 1 0%;
    padding: 1rem 1rem;
    max-width: 1050px;
    margin: 0 auto;
}

.task-list {
    padding: 1rem;
}
.title-list {
    padding: 1rem;
    

}

#titles .title {
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
    padding: 1rem;
    width: 300px;
    border-radius: 1rem;
    margin-bottom: 5px;
    
}
#titles .title .title_content .title_text:not(:read-only) {
    color: red;
}

#tasks .task {
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
    padding: 1rem;
    width: 800px;
    border-radius: 1rem;
    margin-bottom: 5px;
}

.text{
    width: 800px;
}

#tasks .task .content .text:not(:read-only) {
    color: red;
}
#tasks .task .actions {
    display: flex;
    margin: 0 0.5rem;
}

.task .actions button{
    margin: 0 0.5rem;
    background: linear-gradient(135deg, #7eaece, #b65bda);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    font-size: 20px;
    transition: 0.4s;
    font-weight: bold;
    text-transform: uppercase;
}
button:hover{
    opacity: 0.8;
}

button:active{
    opacity: 0.6;
}